*{
    padding: 0;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    
}
.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, select{
    margin-top: 10px;
}
img{
    max-height: 30px;
    max-width: 50px;
    border-radius: 50%;
    margin-right: 2px;
}
.bsc, .eth, .polygon {
 display: flex;
 justify-content: center;
 align-items: normal;
}

@media (max-width: 700px) {
    .container{
        width: 90%;
    }
}